[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-twitter = "*"
requests = "*"
"boto3" = "*"
feedparser = "*"

[dev-packages]
"boto3" = "*"
mypy = "*"
pylint = "*"
cfn-lint = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
