[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

python-twitter = "*"
requests = "*"
"boto3" = "*"


[dev-packages]

"boto3" = "*"


[requires]

python_version = "3.6"